<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6485501352-g6ovkr6o2qupn1cq7rrkmt7rp71427ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6485501352-g6ovkr6o2qupn1cq7rrkmt7rp71427ff</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Zxz4cahk8nju2ZnfeQSnas3iZoiV3vA</string>
	<key>GCM_SENDER_ID</key>
	<string>6485501352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vecher13.My-Chat</string>
	<key>PROJECT_ID</key>
	<string>darkside-fa14d</string>
	<key>STORAGE_BUCKET</key>
	<string>darkside-fa14d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6485501352:ios:28a9ac9e815e44bb9c299d</string>
	<key>DATABASE_URL</key>
	<string>https://darkside-fa14d.firebaseio.com</string>
</dict>
</plist>